.main {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    box-shadow:  5px 5px 15px #086972,
             -5px -5px 15px #fff;
}

.navbar {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #086972;
}

.navbar-brand {
    color: #FBFD8A;
}

#footer {
    padding: 1rem;
}
