{% extends "layouts/base.html.j2" %}
{# {% from 'components/get_posts.html.j2' import get_posts %} #}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@helmcode">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ presentation }}">
    <meta name="twitter:creator" content="@helmcode">
    {# <meta name="twitter:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg"> #}
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    {# <meta property="og:url" content="https://helmcode.com" /> #}
    {# <meta property="og:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg" /> #}
    <meta property="og:description" content="{{ presentation }}" />
    <meta property="og:site_name" content="Helmcode" />
    <link rel="stylesheet" href="/static/css/templates/home.css" />
{% endblock %}
{% block main %}
<main class="training">
    <div class="card-body">
        <div class="training_title card-title">
            <h3>Entrenamiento:</h3>
        </div>

        {% for message in get_flashed_messages() %}
            {% if message == "Mensaje enviado a Telegram" %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <form action="{{ url_for('home_page') }}" method=post class="training_form">
                {{ form.hidden_tag() }}

            <div class="training_firsts_inputs">
                <div>
                    {{ form.id_telegram.label }}
                    <div class="training_form_sections mb-3">
                    {{ form.id_telegram }}
                    </div>
                </div>

                <div>
                    {{ form.name.label }}
                    <div class="training_form_sections mb-3">
                    {{ form.name }}
                    </div>
                </div>
            </div>

            <div class="training_form_series card">
                <h5 class="card-title">Series</h5>
                <div class="card-body">
                    <div>
                        {{ form.weight_01.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.weight_01 }}
                        </div>
                    </div>

                    <div>
                        {{ form.repetitions_01.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.repetitions_01 }}
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div>
                        {{ form.weight_02.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.weight_02 }}
                        </div>
                    </div>

                    <div>
                        {{ form.repetitions_02.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.repetitions_02 }}
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div>
                        {{ form.weight_03.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.weight_03 }}
                        </div>
                    </div>

                    <div>
                        {{ form.repetitions_03.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.repetitions_03 }}
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div>
                        {{ form.weight_04.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.weight_04 }}
                        </div>
                    </div>

                    <div>
                        {{ form.repetitions_04.label }}
                        <div class="training_form_sections mb-3">
                        {{ form.repetitions_04 }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form.date.label }}
            <div class="training_form_sections mb-3">
            {{ form.date }}
            </div>

            <div class="training_button">
            {{ form.submit }}
            </div>
        </form>
    </div>
</main>
{% endblock %}