{% extends "layouts/base.html.j2" %}
{# {% from 'components/get_posts.html.j2' import get_posts %} #}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@helmcode">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ presentation }}">
    <meta name="twitter:creator" content="@helmcode">
    {# <meta name="twitter:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg"> #}
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    {# <meta property="og:url" content="https://helmcode.com" /> #}
    {# <meta property="og:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg" /> #}
    <meta property="og:description" content="{{ presentation }}" />
    <meta property="og:site_name" content="Helmcode" />
    <link rel="stylesheet" href="/static/css/templates/home.css" />
{% endblock %}
{% block main %}
<main class="portada">
    <h1>Hello World!</h1>
</main>
{% endblock %}