{% extends "layouts/base.html.j2" %}
{# {% from 'components/get_posts.html.j2' import get_posts %} #}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@helmcode">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ presentation }}">
    <meta name="twitter:creator" content="@helmcode">
    {# <meta name="twitter:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg"> #}
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    {# <meta property="og:url" content="https://helmcode.com" /> #}
    {# <meta property="og:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg" /> #}
    <meta property="og:description" content="{{ presentation }}" />
    <meta property="og:site_name" content="Helmcode" />
    <link rel="stylesheet" href="/static/css/templates/home.css" />
{% endblock %}
{% block main %}
<main class="contact">
    <div class="card-body">
        <div class="contact_title card-title">
            <h3>Entrenamiento:</h3>
        </div>

        {% for message in get_flashed_messages() %}
            {% if message == "Mensaje enviado a Telegram" %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}

        <form action="{{ url_for('home_page') }}" method=post class="contact_form">
            {{ form.hidden_tag() }}

            <div class="mb-3">
            {{ form.id_telegram.label }}
            {{ form.id_telegram }}
            </div>

            <div class="mb-3">
            {{ form.name.label }}
            {{ form.name }}
            </div>

            <div class="mb-3">
            {{ form.weight.label }}
            {{ form.weight }}
            </div>

            <div class="mb-3">
            {{ form.repetitions.label }}
            {{ form.repetitions }}
            </div>

            <div class="mb-3">
            {{ form.date.label }}
            {{ form.date }}
            </div>

            <div class="contact_button">
            {{ form.submit }}
            </div>
        </form>
    </div>
</main>
{% endblock %}